
CAN Report: Sev-1 Type: - | (INITIAL | # )

REMINDER: SEV-1 type must be set prior to applying CAN Report. Please ignore if this has been done.Problem Statement (current condition):

What is affected technically (Engineering Oriented)

 
Business Impact:

How does this disrupt the customer’s business or operations? What is not working and impacted use cases?

 
Actions:

Technical Actions that have been performed so far (by customer or engineer)

 
Needs:

Next planned actions for recovery (if known)?

 
